<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite 1">

    <test name="Carts Tests" parallel="methods">
        <classes>
            <class name="com.testing.tests.CartsTests"/>
        </classes>
    </test>

    <test name="Image Tests" parallel="methods">
        <classes>
            <class name="com.testing.tests.ImageTests"/>
        </classes>
    </test>

    <test name="Rest API Tests" parallel="methods">
        <classes>
            <class name="com.testing.tests.RestApiTests"/>
        </classes>
    </test>

    <test name="Restful Booking API Tests" parallel="methods">
        <classes>
            <class name="com.testing.tests.RestfulBookingTests"/>
        </classes>
    </test>

</suite>